:root {
    --background-color: #3B3B3B;
    --primary-text-color: #DEDEDE;
    --secondary-text-color: #959595;
    --button-bg-color: #9D9D9D;
    --button-tx-color: #FFFFFF;
    --alert-color: #FF5398;
    --body-font: "Manrope", sans-serif;
}

*,
::after,
::before{
    box-sizing: border-box;
}

body {
    background-color: #202020;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
}

.container-apresentation{
    display: flex;
    align-items: center;
}


.hi-camilla {
    color: #DEDEDE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.5px;
    padding-right: 20px;
}

.i-do {
    color: #959595;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.5px;
}

.image img {
    flex-shrink: 0;
    background: url(images/profile.png) lightgray 50% / cover no-repeat;
    border: 1px solid #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn {
    display: flex;
    font-family: var(var(--body-font));
    font-size: 20px;
    padding: 30px 20px;
}

.bt-contact,
.bt-download {
    background-color: var(--button-bg-color);
    color: var(--button-tx-color);
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    padding: 15px 35px;
    margin-right: 10px;
}

.bt-contact,
.bt-download {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px #959595;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.bt-contact:hover,
.bt-download:hover,
.bt-contact:focus,
.bt-download:focus,
.bt-contact:active,
.bt-download:active {
    background-color: var(--alert-color);
    color: white;
}

.footer{
    color: var(--secondary-text-color);
    padding: 90px 60px;
}

.cta{
    font-size: 23px;
}
.hello{
    color: var(--button-tx-color);
    font-size: 26px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hello:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: #FF5398;
    height: 4px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hello:hover:before,
.hello:focus:before,
.hello:active:before {
    left: 0;
}

.linkedin,
.github,
.twitter{
    padding-left: 7px;
    font-size: 20px;
}

.text-footer{
    font-size: 16px;
    padding-top: 40px;
}