:root {
    --support-bg-color: #3B3B3B;
    --background-color:#202020;
    --primary-text-color: #DEDEDE;
    --secondary-text-color: #959595;
    --button-bg-color: #9D9D9D;
    --button-tx-color: #FFFFFF;
    --alert-color: #FF5398;
    --body-font: "Manrope", sans-serif;
}

body {
    background-color: var(--background-color);
    font-family: var(--body-font);
}

/*Navbar edit*/
.navbar-brand,
.navbar-nav,
.navbar-toggler-icon {
    color: var(--primary-text-color);
    font-family: var(--body-font) !important;
}

.navbar-brand:hover,
.navbar-nav:hover,
.navbar-toggler:hover,
.navbar-toggler-icon:hover {
    color: var(--button-tx-color);
}

h1 {
    color: var(--primary-text-color);
    font-size: 64px;
    font-weight: 600;
    overflow-wrap: break-word;
    padding: 50px;
    max-width: auto;
    line-height: 1.5;
    letter-spacing: 1px;
}

.profileimage {
    display:inline-flex;    
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center center;
    object-fit: cover;
    image-rendering: auto;
}

p {
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 500;
    overflow-wrap: break-word;
    padding: 0 60px;
    max-width: 800px;
    line-height: 1.5;
    letter-spacing: 0.4px;
}

/*First Button*/
.about-hp{
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    color: var(--button-tx-color);
    border-radius: 10px;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: var(--button-bg-color);
    transition: color 0.3s;
    padding: 15px 35px;
    margin: 20px 50px;
}

.about-hp:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--alert-color);
    border-radius: 10px;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.about-hp:hover,
.about-hp:focus,
.about-hp:active {
    color: white;
}

.about-hp:hover:before,
.about-hp:focus:before,
.about-hp:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
/*End Frst Button*/