:root {
    --support-bg-color: #3B3B3B;
    --background-color:#202020;
    --primary-text-color: #DEDEDE;
    --secondary-text-color: #959595;
    --button-bg-color: #9D9D9D;
    --button-tx-color: #FFFFFF;
    --alert-color: #FF5398;
    --body-font: "Manrope", sans-serif;
}

body {
    background-color: var(--background-color);
    font-family: var(--body-font);
}

/*Navbar edit*/
.navbar-brand,
.navbar-nav,
.navbar-toggler-icon {
    color: var(--primary-text-color);
    font-family: var(--body-font) !important;
}

.navbar-brand:hover,
.navbar-nav:hover,
.navbar-toggler:hover,
.navbar-toggler-icon:hover {
    color: var(--button-tx-color);
}
.box
{
    background-color: #202020;
    display: grid;
    padding: 60px 10px 10px 60px;
}
h1 {
    color: var(--primary-text-color);
    font-size: 64px;
    font-weight: 600;
    overflow-wrap: break-word;
    padding: 50px 50px 20px 50px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.profileimage {
    display:inline-flex;   
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center center;
    object-fit: cover;
    image-rendering: auto;
}

.sprofile {
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 500;
    overflow-wrap: break-word;
    padding: 0 60px;
    max-width: 800px;
    line-height: 1.5;
    letter-spacing: 0.4px;
}

/*Button*/
.about-hp{
    display: inline-block;
    color: var(--button-tx-color);
    background-color: var(--button-bg-color);
    font-size: 17px;
    font-weight: 500;
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: 0.3px;
    vertical-align:middle;
    padding: 15px 35px;
    margin-left: 55px;
    margin-top: 20px;
}

.about-hp:hover,
.about-hp:focus,
.about-hp:active{
    background-color: var(--alert-color);
    color: white;
}

/*Latest Work*/
.work-title{
    color: var(--primary-text-color);
    font-family: var(--body-font);
    font-size: 30px;
    font-weight: 600;
    max-width: auto;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform:uppercase;
    text-shadow: 2px 2px 2px #3B3B3B;
    padding:40px 0 70px 0px;
}

h2{
    color:var(--primary-text-color);
    font-size:64px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.3px;
}

.dwork{
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.3px;
}

.btn-branding{
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0.3px;
    font-weight: 500;
    font-size: 17px;
    color: var(--button-tx-color);
    border-radius: 10px;
    vertical-align: middle;
    background: var(--button-bg-color);
    padding: 15px 35px;    
    }
.btn-branding:hover,
.btn-branding:focus,
.btn-branding:active {
    background-color: #FF5398;
    color: white;
}

.project-description{
    padding: 120px 60px;
    text-align: justify;
    letter-spacing: 0.1;
}

.pimage{
    border-radius: 15px;
    box-shadow: 1px 1px 3px rgba(110, 110, 110, 0.718);
}

/* RESUME */

.content-container{
    padding: 60px 10px 10px 60px;
}
.content{
    margin: 30px;
    padding-right: 20px;
    padding-top: 15px;
    margin-left: 0px;
}

.content h1{
    font-size: 64px;
    line-height: 80px;
    padding: 10px 20px 16px 0px !important
}

.content h2{
    font-size: 18px;
    padding-bottom: 10px;
}

.content p{
    color:var(--secondary-text-color);
    font-size: 18px;
    padding-bottom: 10px;
}

.imageresume{
    width: 70%;
    height: 80%;
    border-radius: 40px;
    object-position: center;
    object-fit: cover;
    box-shadow: 0px 1px 3px rgba(110, 110, 110, 0.718);
}

.resume-btn{
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    color: var(--button-tx-color);
    border-radius: 10px;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: var(--button-bg-color);
    transition: color 0.5s;
    padding: 13px 27px;
}

.resume-btn:hover,
.resume-btn:focus,
.resume-btn:active {
    background-color: var(--alert-color);
    color: white;
}

/*PORTFOLIO*/
.content h3{
    color: var(--secondary-text-color);
    font-family: var(--body-font);
    font-size: 28px;
    font-weight: 600;
    line-height:1.5;
}

.content p{
    color: #959595a2;
    font-size: 18px;
}

/*CONTACT*/
.emailcontact{
    color:var(--secondary-text-color);
    font-size:47px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.icon-social {
    display: inline-flex;
    padding-top:40px;
}

.emailcontact{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.emailcontact:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: var(--alert-color);
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.emailcontact:hover:before,
.emailcontact:focus:before,
.emailcontact:active:before {
    right: 0px;
}

.ph--read-cv-logo {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23929292' d='m210.78 39.25l-130.25-23A16 16 0 0 0 62 29.23l-29.75 169a16 16 0 0 0 13 18.53l130.25 23a16 16 0 0 0 18.54-13l29.75-169a16 16 0 0 0-13.01-18.51M178.26 224L48 201L77.75 32L208 55ZM89.34 58.42a8 8 0 0 1 9.27-6.48l83 14.65a8 8 0 0 1-1.39 15.88a8.36 8.36 0 0 1-1.4-.12l-83-14.66a8 8 0 0 1-6.48-9.27M83.8 89.94a8 8 0 0 1 9.27-6.49l83 14.66a8 8 0 0 1-1.4 15.89a7.55 7.55 0 0 1-1.41-.13l-83-14.65a8 8 0 0 1-6.46-9.28m-5.55 31.51a8 8 0 0 1 9.27-6.45l41.48 7.29a8 8 0 0 1-1.38 15.88a8.27 8.27 0 0 1-1.4-.12l-41.5-7.33a8 8 0 0 1-6.47-9.27'/%3E%3C/svg%3E");
}

/*FOOTER*/
footer .footerframe {
    display: inline-flex;
    align-items: center;
    overflow: visible;
    padding-top: 180px;
    padding-left: 30px;
}

footer .hi {
    color: var(--secondary-text-color);
    font-size: 60px;
    font-weight: 500;
}

footer .click-mail {
    color: var(--secondary-text-color);
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
    padding-right: 150px;
    padding-left: 60px;
}

.click-mail:hover {
    color: var(--alert-color);
}

footer .icons {
    text-align: center;
    align-content: flex-start;
    display: flex;
    gap: 22px;
    justify-content: flex-start;
    padding-top: 16px;
}


/*RESPONSIVE*/
@media(max-width:900px){

    h1 {
        font-size: 40px;
        line-height: 1.2;
        padding-bottom: 17px;
    }

    .box,
    .work-title{
        padding: 0;
    }   

    .project-description{
        padding: 0;
        text-align: center;
        padding-top: 30px !important;
    }
    
    .hero,
    .sprofile{
        text-align: center !important;  
    }

    .about-hp{
        margin-left: 0px !important;

    }

    .content-container{
        padding: 10px 60px 10px 60px;
    }
    .content{
        text-align: center !important;
        margin: 0;
    }

    .content-container h1{
        font-size: 50px;
        line-height: 50px;
        padding: 15px 0px 10px 0px !important;
    }

    .content-container h2{
        padding-top: 12px;
        line-height: 30px;        
    }

    .resume-btn{
        padding: 13px 40px !important;
    }

    .icon-social{
        text-align: center !important;
        padding-right: 25px !important;
    }

    .emailcontact{
        font-size: 26px;
    }

    .footerframe {
        display: block !important;
        align-items: center !important;
        margin-left: 0px !important;
        padding-top: 30px !important;
        
    }

    .hi {
    color: var(--secondary-text-color);
    font-size: 37px !important;
    text-align: left;
    font-weight: 600 !important;
    
}

    .click-mail {
    color: var(--secondary-text-color);
    font-size:25px !important;
    padding: 0 !important;
}

    .icons {
    align-items: center !important;
    align-content: center !important;
    justify-content: center !important;
    display: block !important;
    padding-bottom: 60px;
}

}